@charset "utf-8";

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
li{
    flex-grow: 1;
}

li > div{
    /* margin: 5px; */
    height: 100%;
}

@media screen and (max-width:500px){
    li{
        width: 100%;
        
    }
}

@media screen and (min-width:501px) and (max-width:900px){
    li{
        width: 50%;
    }
}

@media screen and (min-width:901px) and (max-width:1400px){
    li{
        width: 33%;
    }
}

@media screen and (min-width:1401px)
{
    li{
        width: 33%;
    }
}




/* 
@media screen and (max-width:500px) 
{
    li{
        float: left;
        padding: 5px;
        width: 100%;
    
    }
}

@media screen and (min-width:501px) and (max-width:768px) 
{
    li{
        float: left;
        padding: 5px;
        width: 47%;
    }
}

@media screen and (min-width:769px) and (max-width:1200px) 
{
    li{
        float: left;
        
        width: 32%;
    }
}

@media screen and (min-width:1201px) and (max-width:1400px) 
{
    li{
        float: left;
        padding: 5px;
        width: 24%;   
    }
}

@media screen and (min-width:1401px) 
{
    li{
        float: left;
        padding: 5px;
        width: 19%;  
    }
} */