@charset "utf-8";

/* 선택자{속성1:속성값;속성2:속성값2;} */

/* 선택자{
    속성1:속성값;
    속성2:속성값2;
} */
/* html,body{text-align: center;}
div{background-color: white !important;} */
/* 
선택자의 종류
전체선택자
*{color: #333333;}

아이디선택자
#아이디명{background-color: aqua;}

클래스선택자
.클래스명{background-color: aquamarine;}

타입,태그선택자
p{background-color: aqua;}

그룹선택자
hi,h2{background-color: azure;} */

/* *{color: #cccccc;}
h1{color: yellow;}
.h1{color: aqua;}
#h1{color: gold;}
.h1{color:blueviolet;} */

#container{width: 600px;margin: 20px auto;background-color: antiquewhite;}
h1{display: inline-block;background-color: #0404aa; color:#fff}
p.accent{font-weight: bold;}
span.accent{font-weight: bold;color: red;}